*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
*.apk
*.ap_
*.dex
*.class
*.dex
/out/
.DS_Store
/build
/gradle
/captures
.externalNativeBuild
.cxx
local.properties
